elastic/elasticsearch:7.9.3
elastic/kibana:7.9.3
skycirrus/fluentd-docker:v0.0.3
postgis/postgis:12-3.0
postgis/postgis:12-3.0-alpine
postgis/postgis:13-3.0-alpine
redis:5.0.9-alpine
redis:6.0.8-alpine
mongo:4.2.10
mongo:4.4.1
confluentinc/cp-zookeeper:5.5.2
confluentinc/cp-zookeeper:6.0.0
confluentinc/cp-kafka:5.5.2
confluentinc/cp-kafka:6.0.0
digitsy/kafka-magic:2.0.3.4
jboss/keycloak:4.8.3.Final
jboss/keycloak:11.0.2
openjdk:11.0.9-jre-slim
openjdk:11.0.9-jre
openjdk:11.0.9-jdk-slim
openjdk:11.0.9-jdk
ubuntu:18.04
ubuntu:20.04
nginx:1.19.3-alpine